<section class="full-container wf-max-w-2xl">
  <table class="table-container wf-mb-20 wf-text-left">
    <thead>
      <th>Date (mm/dd/yyyy)</th>
      <th>Temp(F)</th>
      <th class="wf-hidden md:wf-table-cell">Description</th>
      <th class="wf-hidden md:wf-table-cell">Main</th>
      <th class="wf-hidden md:wf-table-cell">Pressure</th>
      <th class="wf-hidden md:wf-table-cell">Humidity</th>
    </thead>
    <tbody>
      <tr>
        <td>09/01/2020</td>
        <td>75</td>
        <td class="wf-hidden md:wf-table-cell">Sky is clear</td>
        <td class="wf-hidden md:wf-table-cell">Clear</td>
        <td class="wf-hidden md:wf-table-cell">1023.68</td>
        <td class="wf-hidden md:wf-table-cell">100</td>
      </tr>
    </tbody>
  </table>
  <div class="wf-inline-flex wf-justify-end">
    <button mat-raised-button aria-label="Button with back text" class="wf-bg-cyan-100">
      Back
    </button>
  </div>
</section>
