<!-- Header Component Template-->
<mat-toolbar class="wf-fixed wf-bg-gradient-to-r wf-from-cyan-500 wf-to-blue-500 wf-h-auto">
  <button aria-label="Button with application icon">
    <img
      alt="Weather Forecast Icon"
      class="wf-h-16 wf-w-20"
      src="assets/icons/weather-forecast-icon_221x171.png"
    />
  </button>
  <span>Weather Forecast</span>
  <span class="wf-flex-auto"></span>
  <ng-container *ngIf="false">
    <button
      aria-label="Button with logout text"
      class="wf-bg-cyan-100"
      mat-raised-button
      (click)="logout()"
    >
      Logout
    </button>
  </ng-container>
</mat-toolbar>
