<section class="full-container wf-max-w-xl wf-text-center">
  <div class="wf-pb-10" *ngIf="userInfo">
    <p>
      <strong>{{ userInfo.firstname }} {{ userInfo.lastname }}</strong>
    </p>
    <a href="">{{ userInfo.email }}</a>
  </div>
  <div>
    <mat-form-field appearance="outline" floatLabel="never" class="wf-max-w-md wf-w-full">
      <input matInput placeholder="City" required />
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>
    <button
      mat-raised-button
      aria-label="Button with display weather text"
      class="wf-bg-cyan-100"
      routerLink="/weather"
    >
      Display Weather
    </button>
  </div>
</section>
